[submodule "ThirdParty/Polynet"]
    path = ThirdParty/Polynet
    url = https://github.com/BlueCannonBall/Polynet.git

[submodule "ThirdParty/std"]
    path = ThirdParty/std
    url = https://github.com/Craabby/std.git

