[submodule "ThirdParty/std2"]
	path = ThirdParty/std2
	url = https://github.com/Craabby/std.git
[submodule "ThirdParty/Polynet"]
	path = ThirdParty/Polynet
	url = https://github.com/BlueCannonBall/Polynet.git
