[submodule "Server/ThirdParty/IXWebSocket"]
    path = Server/ThirdParty/IXWebSocket
    url = https://github.com/machinezone/IXWebSocket.git

[submodule "Client/ThirdParty/IXWebSocket"]
    path = Client/ThirdParty/IXWebSocket
    url = https://github.com/machinezone/IXWebSocket.git

